.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
terraform.tfvars
crash.log
crash.*.log
.terraform.tfstate.lock.info
*.tfplan
*.plan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
